*~
.DS_Store

work/
data/
logs/
build/

## maven
target/

## gradle
.gradle/

## intellij
.idea/
*.iml

## eclipse
.project
.classpath
.settings
*/.project
*/.classpath
*/.settings
*/eclipse-build

## netbeans
nb-configuration.xml
nbactions.xml

BNF.properties
DE-576.properties
DE-600.properties
DE-601.properties
DE-602.properties
DE-603.properties
DE-604.properties
DE-605.properties
LCDB.properties
LIBRIS.properties
BVB.properties
GBV.properties
HBZ.properties
HEBIS.properties
KOBV.properties
LCDB.properties
SWB.properties
ZDB.properties