<!DOCTYPE html>
<html>
<head>
    <title>hbz Leitwegrecherche</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="static/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="static/js/html5shiv.js"></script>
    <script type="text/javascript" src="static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Eingabe</div>
                <div class="panel-body">
                    <form class="form-horizontal" action="{{form_action}}" method="post">
                        <fieldset>
                            <legend>Leitwegrecherche</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="id">ZDB-ID</label>
                                <div class="col-lg-6">
                                    <input class="form-control" id="id" name="id" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="year">Jahrgang</label>
                                <div class="col-lg-6">
                                    <input class="form-control" id="year" name="year" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="baselibrary">Bibliothek</label>
                                <div class="col-lg-6">
                                    <select id="base" name="baselibrary" class="form-control">
                                        <option value="">bitte wählen</option>
                                        {{#each libraries}}
                                            <option>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Starten</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>

</body>
</html>
