<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to the Elasticsearch hit list</h1>
    <p>{{message}}</p>
    <ol>
    {{#each list}}
        <li><p>{{@id}} {{@type}} </p></li>
    {{/each}}
     </ol>
  </body>
</html>